main {
  position: relative;
  top: 6rem;
}

h1 {
  color: white;
  top: 30px;
}

.user-name {
  color: white;
  margin: 10px;

  font-size: 1.4rem;
}

.loginBtn {
  background-color: rgba(193, 238, 168, 0.845);
}

.loginBtn:hover {
  background-color: rgba(153, 239, 106, 0.845);
}

.registerBtn {
  background-color: rgba(193, 238, 168, 0.845);
}

.registerBtn:hover {
  background-color: rgba(153, 239, 106, 0.845);
}

.accountBtn {
  border: none;
}

.accountBtn:hover {
  cursor: pointer;
}

.logoutBtn {
  width: 5rem;
  height: 3rem;
  margin: 10px;
  background-color: rgba(193, 238, 168, 0.845);
}

.logoutBtn:hover {
  background-color: rgba(153, 239, 106, 0.845);
}

.deleteBtn {
  width: 5rem;
  height: 3rem;
  margin: 10px;
  background-color: rgba(238, 168, 168, 0.845);
}

.deleteBtn:hover {
  background-color: rgba(239, 111, 111, 0.845);
}

.formElementContainer {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.formElementContainer > input {
  margin-bottom: 1px;
}

.formElementContainer > label {
  color: white;
  margin-bottom: 2px;
}

.formElementContainer > button {
  margin-bottom: 20px;
}

.spinner {
  top: 4.5rem;
}

.loginMessageBox {
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translatex(-50%);
  text-align: center;
  background-color: rgba(75, 77, 105, 0.845);
  height: auto;
  width: auto;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
