.errorMessageBox {
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translatex(-50%);
  text-align: center;
  background-color: rgba(75, 77, 105, 0.845);
  height: auto;
  width: auto;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.noUserLoggedInMessage {
  position: absolute;
  top: 18rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.saveMessageBox {
  position: fixed;
  top: 7rem;
  left: 50%;
  transform: translatex(-50%);
  text-align: center;
  background-color: rgba(75, 77, 105, 0.845);
  height: auto;
  width: auto;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
