* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/assets/images/seamless-wood1-900x900.jpg");
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: #333;
  overflow: hidden;
}

ul {
  display: flex;

  justify-content: center;
  list-style-type: none;
}

.active {
  background-color: #dddddd46;
  color: black;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddddddbb;
  color: black;
}
